<!DOCTYPE html>
<html>
<head>
	<title>Django Survey Form</title>
</head>
<body>
	<h1>Take This Survey!</h1>

	<form action="/process" method="post">
	{% csrf_token %}
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name">
		
		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name">
		
		<label for="location">Dojo Location:</label>
		<select name="location">
			<option value="san_jose">San Jose</option>	
			<option value="chicago">Chicago</option>
			<option value="dallas">Dallas</option>
			<option value="los_angeles">Los Angeles</option>
			<option value="seattle">Seattle</option>
		</select>
		
		<label for="language">Favorite Language:</label>
		<select name="language">
			<option value="python">Python</option>
			<option value="javascript">JavaScript</option>
			<option value="ruby">Ruby</option>
			<option value="php">PHP</option>
		</select>
		
		<label for="comments">Comments (optional):</label>
		<textarea name="comments" cols="50" rows="10"></textarea>
		
		<button type="submit" name="submit_button">Submit</button>
	</form>
	
</body>
</html>